* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/*header*/
.banner{
  max-width: 1400px;
  max-height: 750px;
  align-items: center;
  position: relative;
  margin: 50px 140px;
 
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

.banner-content{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.banner-text{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-45%, -45%);
}

.banner-title{
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  font-family: "Inter";
}

.banner-greeting{
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  font-family: "Inter";
}

/*section discount*/

.discount{
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  padding-top: 50px;
  font-family: "Inter";
  
}

.holiday{
  color:#f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500px;
  padding-top: 30px;
  font-family: "Inter";  
}

.CATEGORRIES{
  color: #070211;
  text-align: center;  
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700px;
  padding-top: 10px;
}

.new-year-img{
  max-width: 600px;
  max-height: 450px;
  align-items: center;
  position: relative;
  margin: 50px 250px;
  padding: 30px 30px 0px 150px;

}

/*Midnight-Party*/

.Midnight-Party{
  max-width: 1320px;
  max-height: 600px;
  align-items: center;
  position: relative;
  margin: 50px 100px;
}

.Midnight-Party-content{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.Midnight-Party-text{
  color: #fff;
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-35%, -10%);
}

.Midnight-Party-title{
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
}

.Midnight-Party-greeting{
  font-size: 75px;
  font-weight: 170px;
  font-family: "merriweather";
}

.Midnight-Party-btn{
  font-size: 30px;
  font-weight: 700px;
  font-family: "Inter";  
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
}

.Group-70{
position: absolute;
height: 350px;
width: 230px;
top: 50%;
left: 76%;
transform: translate(50%, -50%);
}

/* Place-Date-Time */

.Place-Date-Time{
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  padding: 60px;
  margin: 70px 100px;
  text-align: center;
  line-height: 50px;
  font-family: "Inter";
  font-size: 40px;
}

.Place{
  color: #f00;
}

.place-span{
  color: #070211;
}

.btn{
  color: #fff;
  background: #f00;
  padding: 16px 30px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/*main*/
.main{
  display: flex;
  margin-left: 125px;
  margin-right: 100px;
  gap: 20px;
}

.main-offer{
  color: #F00;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}

.main-cooming{
  color: #070211;
  font-family: "Merriweather";
  font-size: 40px;
  font-weight: 850;
  padding-top: 20px;
  padding-bottom: 20px;
  }

.main-img{
  width: 600px;
  height: 280px;
  border-radius: 50%;
  border: 5px solid #f00;
  padding: 10px;
}

.main-2024{
  color: #F00;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700px;
  padding-left: 100px;
}

/* .main-2024-img{
  width: 120px;
  height: 120px;
} */

.main-p-tag{
  color: rgba(7, 2, 17, 0.60);
  font-family: "Inter";
  font-size: 16px;
}

/* Holidays section */
.Holidays{
  text-align: center;
 padding-left: 120px;
 padding-right: 120px;
 padding-top: 150px;
}

.holiday-What{
  font-size: 25px;
  font-family: "Inter";
}

.holiday-Holidays{
  font-family: "merriweather";
  font-size: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f00;
}

.holiday-sale{
  color: #070211;
}

.holiday-sale-50{
  font-family: "Inter";
}

.holiday-p-tag{
  color: rgba(7, 2, 17, 0.60);
  font-size: 21px;
  font-family: "Inter";
  line-height: 35px;
}

/*git-box section*/

.gift-box{
  transform: translate(0%, -45%); 
}

.gift-box-box{
  height: 550px;
  width: 600px;
  transform: translate(17%, 145%);
}

.gift-box-cute-lady{
  height: 400px;
  width: 350px;
  transform: translate(256.70%, 62.50%);
}

.gift-box_discount{
  width: 250px;
  height: 250px;
  transform: translate(292%, -39%);
}

.gift-box-red-bar{
  height: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

/*section best-gift*/

.best-gift{
  transform: translate(0%, -45%);
  padding-left: 100px;
}

.best-gift-img{
  display: flex;
  padding-top: 20px;
  width: 450px;
  height: 400px;
  gap: 20px;
  cursor: pointer;
}

.best-gift-img-hover:hover{
  transform: scale(1.12);
  transition: 0.5s;
}

.The-best-gift{
  font-family: "Inter";
  color: #F00;
  font-size: 25px;
  padding-bottom: 10px;
}
.best-gift-portfolio{
  font-family: "merriweather";
  font-size: 45px;
  padding-bottom: 10px;
}

.best-gift-p-tag{
  font-family: "Inter";
  font-size: 18px;
  color: rgba(7, 2, 17, 0.60);
}

/*section Subscribe*/

.Subscribe{
  background: rgba(224, 117, 135, 0.164);
  padding: 60px;
  margin: 150px 100px;
  text-align: center;
  transform: translate(0%, -60%);
}
.Subscribe-img{
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  margin-left: 430px;
  padding-bottom: 15px;
}

.Subscribe-Newsletter{
  font-family: "merriweather";
  font-size: 55px;
  padding-bottom: 15px;
}

.Subscribe-p-tag{
  font-family: "Inter";
  font-size: 20px;
  color: rgba(7, 2, 17, 0.60);
  padding-bottom: 15px;
}

.Subscribe-input-text{
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
  padding: 20px 70px;
  font-size: 20px;
  font-family: "Inter";
}

.Subscribe-input-Subscribe{
  border-radius: 0px 20px 20px 0px;
  border: none;
  cursor: pointer;
  padding: 20px 30px;
  font-size: 20px;
  color: #fff;
  background: #f00;
  font-family: "Inter";
  text-align: center;

}
